<div class="nav-cards">

    <div class="overview blue">
    <%= link_to(meetings_path) do %>
    <div>
        <h3 class="black-text">Meetings Overview</h3>
    </div>
    <% end %>
    </div>

    <div class="overview yellow">
    <%= link_to(available_path) do %>
    <div>
        <h3 class="black-text">Available Calendar</h3>
    </div>
    <% end %>
    </div>

    <div class="overview red">
    <%= link_to(unapproved_path) do %>
    <div>
        <h3 class="black-text">Unapproved Calendar</h3>
    </div>
    <% end %>
    </div>

    <div class="overview green">
    <%= link_to(scheduled_path) do %>
    <div>
        <h3 class="black-text">Scheduled Calendar</h3>
    </div>
    <% end %>
    </div>

</div>