<div class="nav-cards">

    <div class="overview blue">
    <%= link_to(meetings_path) do %>
    <div>
        <h3 class="white-text"><strong>Meetings Overview</strong></h3>
    </div>
    <% end %>
    </div>

    <div class="overview yellow">
    <%= link_to(available_path) do %>
    <div>
        <h3 class="white-text"><strong>Available Meetings</strong></h3>
    </div>
    <% end %>
    </div>

    <div class="overview red">
    <%= link_to(unapproved_path) do %>
    <div>
        <h3 class="white-text"><strong>Pending Meetings</strong></h3>
    </div>
    <% end %>
    </div>

    <div class="overview green">
    <%= link_to(scheduled_path) do %>
    <div>
        <h3 class="white-text"><strong>Scheduled Meetings</strong></h3>
    </div>
    <% end %>
    </div>

</div>