@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import "simple_calendar";
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "signup.scss";


*{
    font-family: 'Alegreya Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    margin:0;
    padding:0;
}

h1{
    font-size: 10rem;
    font-family: 'Alegreya Sans', sans-serif;
}

h2{
    margin: 0;
    font-size: 5rem;
    font-family: 'Alegreya Sans', sans-serif;
}

h3{
    font-family: 'Alegreya Sans', sans-serif;
}

p{
    margin: 0;
    font-size: 2rem;
    font-family: 'Alegreya Sans', sans-serif;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
    height: max-content;
    width:100%;
    padding: 2vw;
    padding-right: 5vw;
    padding-bottom: 0;
    z-index: 99;
}

.book-a-session{
    padding-left: 5vw;
    // padding-top: 2vw;
}

.book-text{
    font-size: 10rem;
}


.homepage-container{
    display: flex;
    flex-direction: row;
}

.login{
    display: flex;
    width: 100px;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-right: 1.5vw;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1.8rem;
    z-index: 99;
    transition: background-color 1s, color 1s;
    // transition: color 1s;
}

.login:hover{
    background-color: rgb(128, 194, 128);
    color: black;
    text-decoration: none;
    z-index: 99;
}

.signup{
    display: flex;
    width: 100px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-left: 5px;
    border-radius: 50px;
    font-size: 1.8rem;
    z-index: 99;
    transition: background-color 1s, color 1s;
}

.signup:hover{
    background-color: rgb(118, 148, 226);
    color: black;
    text-decoration: none;
    z-index: 99;
}

// .image{
//     max-width: 100%;
//     height: auto;
//     transition: transform .7s ease-in-out;
//     z-index: 0;
// }

// .image:hover {
//     transform: rotate(360deg);
//     z-index: 0;
//   }

// .book{
//     width: 100%;
//     height: 100%;
//     background-image: url("book.png");
//     background-repeat: no-repeat;
//     z-index: -1;
// }

// .book:hover{
//     background-image: url("sign.png");
//     background-repeat: no-repeat;
//     animation: fadeIn 5s;
//     z-index: -1;
// }



  .card {
    width: 50vw;
    height: auto;
    position: relative;
    display: inline-block;
    // padding: 4vw;
    margin-left: 4vw;

    z-index: 0;
}

.plain-book{
    position: relative;
    width: 50vw;
}


.card .img-top {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // padding: 4vw;
    width: 50vw;
    // padding-left: 4vw;

    opacity: 0.1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.card:hover .img-top {
    display: inline;
    // padding: 4vw;
    // padding-left: 4vw;
    // animation: fadeIn 1s;
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
    z-index: 1;
}

.homepage-logo{
    width: 10vw;
}

.logo{
    padding-top: 2.5vw;
    padding-bottom: 1.5vw;
    width: 100%;
    height: auto;
}

.FR-Clinic{
    text-align: justify;
}

.FR-Clinic:after {
  content: "";
  display: inline-block;
  width: 100%;
}

@media (max-width: 480px) {
    .book-text{
        font-size: 10vw;
    }

    .card{
        display: none;
    }
}


//SIGN-UP
.signup-wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgb(246, 246, 246);
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
   width:20vw;
}

.form-input{
    width: 100%;
    height: 2.5rem;
    padding: 0.7rem;
    border: 0;
    border-radius: 6px;
    border-bottom: 2px solid rgb(161, 181, 232);
    transition: 0.2s;
}

.form-input:hover {
    border-bottom: 2px solid rgb(60, 93, 177);
  }

.form-input:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(60, 93, 177, 0.5);
  }

.form-sign-up{
    // color: rgb(60, 93, 177);
    font-size: 4rem;
    margin: 20px;
}

.form-label{
    // color: rgb(60, 93, 177);
    font-size: 1.5rem;
    margin-top: 10px;
}

.sign-up-form-button{
    width: 100%;
      border-radius: 7px;
      background-color: rgba(60, 93, 177, 0.75);
      color: white;
      cursor: pointer;
      padding: 0.7rem 1rem;
      border: none;
      outline: none;
      margin: 2rem 0rem;
      font-size: 1.5rem;
      transition: 0.2s;
}

.sign-up-form-button:hover{
    background-color: rgb(60, 93, 177);
}

//LOGIN
.login-wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgb(246, 246, 246);
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
   width:20vw;
}

.login-input{
    width: 100%;
    height: 2.5rem;
    padding: 0.7rem;
    border: 0;
    border-radius: 6px;
    border-bottom: 2px solid rgb(161, 232, 178);
    transition: 0.2s;
}

.login-input:hover {
    border-bottom: 2px solid rgb(60, 177, 85);
  }

.login-input:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(60, 177, 76, 0.5);
  }

.form-login{
    // color: rgb(60, 93, 177);
    font-size: 4rem;
    margin: 20px;
}

.form-label{
    // color: rgb(60, 93, 177);
    font-size: 1.5rem;
    margin-top: 10px;
}

.login-form-button{
    width: 100%;
    border-radius: 7px;
    background-color: rgba(60, 177, 76, 0.75);
    color: white;
    cursor: pointer;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    margin: 2rem 0rem;
    font-size: 1.5rem;
    transition: 0.2s;
}

.login-form-button:hover{
    background-color: rgb(36, 108, 46);
}

//passwords

//edit
.edit-password{
    height: 100vh;
    width: 100vw;
    background-color: rgb(246, 246, 246);
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//new
.new-password{
    height: 100vh;
    width: 100vw;
    background-color: rgb(246, 246, 246);
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//resend
.resend-wrapper{
    height: 100%;
    width: 100%;
    background-color: rgb(246, 246, 246);
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resend{
    font-size: 4rem;
    margin-bottom: 20px;
}

//homepage

.homepage-wrapper{
    height: 100%;
    width: 100%;
    background-color: rgb(246, 246, 246);
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar_homepage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px rgba(145, 145, 145, 0.2);
}

.logo_homepage{
    position: relative;
    height: 100%;
    padding: 20px;
}

.signout{
    display: flex;
    width: max-content;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    margin-left: 5px;
    border-radius: 50px;
    font-size: 1.8rem;
    z-index: 99;
    transition: background-color 1s, color 1s;
}

.signout:hover{
    background-color: rgb(226, 118, 118);
    color: black;
    text-decoration: none;
    z-index: 99;
}

.a{
    position:relative;
    height: 100%;
    width: auto;
}

.new-meeting-button{
    display: flex;
    width: max-content;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    margin-left: 5px;
    border-radius: 50px;
    font-size: 1.8rem;
    z-index: 99;
    transition: background-color 1s, color 1s;
}

.new-meeting-button:hover{
    background-color: rgb(128, 194, 128);
    color: black;
    text-decoration: none;
    z-index: 99;
}

.all-users-button{
    display: flex;
    width: max-content;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    margin-left: 5px;
    border-radius: 50px;
    font-size: 1.8rem;
    z-index: 99;
    transition: background-color 1s, color 1s;
}

.all-users-button:hover{
    background-color: rgb(118, 148, 226);
    color: black;
    text-decoration: none;
    z-index: 99;
}

.right-side-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-side-navbar{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

//calendar


  .day {}
  
  .wday-0 {color:rgb(255, 109, 109);}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {background-color: rgb(161, 232, 178);}
  
  .future {}

  .start-date {}

  .prev-month {color: gray}
  .next-month {color: gray;}
  .current-month {}

  .has-events {
    background-color: rgb(255, 255, 215);
  }

  .past {}

.simple-calendar{
    margin: 10vw;
    border-radius: 10px;
}

.calendar-heading{
    border-radius: 10px;
}

.table{
    border-radius: 10px;
}

.event{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
    background-color: rgba(133, 151, 196, 0.75);
    border-radius: 10px;
    color: rgb(52, 52, 52);
    transition: 1s;
}

.event:hover{
    color:black;
    background-color: rgba(133, 151, 196, 1);
    text-decoration: none;
}


